/* Main Button Area css
============================================================================================ */
.main_btn{
	display: inline-block;
	background: #343a40;
	padding: 0px 50px;
	color: #fff;
	font-family: $rob;
	font-size: 13px;
	font-weight: 500;
	line-height: 48px;
	border-radius: 0px;
	outline: none !important;
	box-shadow: none !important;
	text-align: center;
	border: 1px solid #343a40;
	cursor: pointer;
	@include transition;
	&:hover{
		background: transparent;
		color: #343a40;
	}
}
.main_btn2{
	display: inline-block;
	background: #343a40;
	padding: 0px 32px;
	color: #fff;
	font-family: $rob;
	font-size: 13px;
	font-weight: 500;
	line-height: 38px;
	border-radius: 0px;
	outline: none !important;
	box-shadow: none !important;
	text-align: center;
	border: 1px solid #343a40;
	cursor: pointer;
	@include transition;
	&:hover{
		background: transparent;
		color: #343a40;
	}
}
.submit_btn{
	width: auto;
	display: inline-block;
	background: #343a40;
	padding: 0px 50px;
	color: #fff;
	font-family: $rob;
	font-size: 13px;
	font-weight: 500;
	line-height: 50px;
	border-radius: 0px;
	outline: none !important;
	box-shadow: none !important;
	text-align: center;
	border: 1px solid #343a40;
	cursor: pointer;
	@include transition;
	&:hover{
		background: transparent;
		color: #343a40r;
	}
}

.white_bg_btn{
	display: inline-block;
	background: #343a40;
	padding: 0px 35px;
	color: $dip;
	font-family: $rob;
	font-size: 13px;
	font-weight: 500;
	line-height: 34px;
	border-radius: 0px;
	outline: none !important;
	box-shadow: none !important;
	text-align: center;
	border: 1px solid #343a40;
	cursor: pointer;
	@include transition;
	&:hover{
		background: #343a40;
		color: #fff;
		border-color: #343a40;
	}
}

/* End Main Button Area css
============================================================================================ */